<div class="frinds">
    <div class="all-friends">
        <% current_user.friends.each |friend| %>
        <div class="friend"><%= friend %></div>      
        <% end %>
    </div>
    <div class="incoming-requests">
        <% current_user.friend_requests.each do |friend| %>
        <div class="friend">
            <%= friend %>
            <div class="action-buttons">
                <%= link_to 'accept' %>
                <%= link_to 'reject' %>
            </div>
        </div>
            
        <% end %>
    </div>

</div>