<div class="frinds">
    <div class="all-friends">
        <h2>all friends </h2>
        <% current_user.friends.each  do |friend| %>
        <div class="friend"><%= friend.email %></div>      
        <% end %>
    </div>
    <div class="incoming-requests">
       <h2>  friend requests </h2>
        <% current_user.friend_requests.each do |friend| %>
        <div class="friend-card">
            <%= friend.email %> 
            <div class="action-buttons">
                <%= link_to 'accept', accept_request(friend) %>
               
            </div>
        </div>
      
        <% end %>
    </div>

</div>