<% if @allfriends.size < 1%>
<p class="border">You have no friends yet</p>
<% else %> 
<p class="border">All friends</p>
<% @allfriends.each do |friend| %>

<p class="">
    <%=link_to friend.email, user_path(friend) %></p>
<% end %> <% end %>
