<div class="friends-hub col "> 

    <div class="all-friends row">
        <%= render 'all_friends' %>
    </div>
    <div class="incoming-friends row">
       <%= render 'received_requests' %> 
    </div>

</div>