<% if @friend_request.size < 1 %>

<p class="border">You have no friend requests yet</p>
<% else %> 
<div class="friends border rounded w-90"> 
    <p class="border"> All request</p>
<% @friend_request.each do |friend| %>

<p class=""><%= friend.email %></p>
<div class="options">
<%= link_to 'accept', friendship_path(friend), method: :patch %>
<%= link_to 'reject' %>
</div>

<% end %> 

</div>
<% end %>
