<div class="friends-hub col w-100"> 

    <div class="all-friends row  text-center w-50 mx-auto mb-4 border">
        <%= render 'all_friends' %>
    </div>
    <div class="incoming-friends row text-center w-50 mx-auto border">
       <%= render 'received_requests' %> 
    </div>

</div>